/*common region*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bool-black: #000;
    --bool-white: #fff;
    --bool-header-bg: #ff6900;
    --bool-discount-bg: #ff0000;
    --bool-red-price: #ff2718;
    --bool-sostenibilità-bg: #008000;
}

/*end common region*/

/*common region*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--bool-header-bg);
}

main{
    padding: 2rem;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--bool-white);
}

ul{
    list-style: none;
}

footer{
    background-color: var(--bool-black);
}

/*end common region*/

/*utilities region*/
.d-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}

.container{
    padding: 1rem;
}

.js-center{
    justify-content: center;
}

/*end utilities region*/

/*header region*/
#boolean-logo img{
    width: 100px;
}

nav > ul{
    display: flex;
    
    li{
        margin-right: 5px;
    }
}

.header-icons img{
    color: var(--bool-white);
}

/*end header region*/

/*main region*/
.product{
    position: relative;
    width: 400px;
}

.heart{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.5rem;
    background-color: var(--bool-white);
    padding: .75rem;
}

.hover-image{
    display: none;
}

.product:hover .main-image{
    display: none;
}

.product:hover .hover-image{
    display: block;
}

.product-middle{
    position: absolute;
    left: 0;
    bottom: 100px;
}

.discount, .sostenibilità{
    color: var(--bool-white);
    padding: 5px 10px;
}

.discount{
    background-color: var(--bool-discount-bg);
}

.sostenibilità{
    background-color: var(--bool-sostenibilità-bg);
}

.red-price{
    color: var(--bool-red-price);
}

.price-lined{
    text-decoration: line-through;
}
/*end main region*/

/*footer region*/
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}
.left-footer > h3, .socials > h3{
    color: var(--bool-white);
    font-size: 1,5rem;
}

.socials img{
    background-color: var(--bool-white);
    width: 20px;
    padding: 2px;
    margin: 0 3px;
}

/*end footer region*/